{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Tarea{% endblock %}

{% block content %}
<<h1>Crear Tarea</h1>

    <div class="container mt-5">
        <form class="form-control" action="{% url 'crear_tarea' %}" method="post">
            {% csrf_token %}
            {{ formTarea.as_p }}
            {{ UrlForm.as_p }}

            {% if video_id %}
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ video_id }}" allowfullscreen>
            </iframe>
            {% endif %}


            <div id="contenido">{% include 'tareas/reproductor.html' %}
            </div>

            <button id="btnCrear" class="btn btn-primary" data-url="{% url 'crear_tarea' %}">
                Crear
            </button>
        </form>
    </div>

    {% endblock %}

    """{% block js %}
    <!--<script src="{% static 'js/crear_tarea.js' %}"></script>-->
    {% endblock %}"""